<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dolphin.agent</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/dolphin</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>DZ_LLM_API_KEY</key>
        <string></string>
        <key>DZ_LLM_MODEL</key>
        <string></string>
        <key>DZ_LLM_BASE_URL</key>
        <string></string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/dolphin.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/dolphin.log</string>

    <key>WorkingDirectory</key>
    <string>/usr/local/var/dolphin</string>
</dict>
</plist>
